<h1>Bodgery Events</h1>

<ul>
    <li><strong>Crowd Events</strong><ul>
        <li>Front Door<ul>
            <li><a href="/v1/event/entry/front/in/3600">In, last hour</a></li>
            <li><a href="/v1/event/entry/front/out/3600">Out, last hour</a></li>
        </ul></li>
        <li>Back Door<ul>
            <li><a href="/v1/event/entry/back/in/3600">In, last hour</a></li>
            <li><a href="/v1/event/entry/back/out/3600">Out, last hour</a></li>
        </ul></li>
    </ul></li>
</ul>
